# Ignore Waterfall Files
Waterfall/Allan/
Waterfall/BRD/
Waterfall/Database/
Waterfall/POR Transpose/
Waterfall/Powerpoint/
Waterfall/Waterfall_PORnShip_Tool/
Waterfall/SHIPMENT/.ipynb_checkpoints/
Waterfall/POR/POR.md
Waterfall/POR/.ipynb_checkpoints/
Waterfall/FINALSHIPVPOR/.ipynb_checkpoints/
Waterfall/SHIPMENT/Ship_DataSource_Rev04_Auto_Update.xlsb
Waterfall/POR/Compile and clean.ipynb
# Ignore Exposure Simulator Files
Exposure Simulator/BOM Sample Files/
Exposure Simulator/BRD/
Exposure Simulator/Database/
Exposure Simulator/Develop Tool/
Exposure Simulator/Inventory Report/
Exposure Simulator/Meeting/
Exposure Simulator/.ipynb_checkpoints/
Exposure Simulator/Material/
desktop.ini


